$color_white: #ffffff;
$color_black: #000000;
$color_h2: rgb(64, 64, 65);
$color_grey: #f5f5f9;
$color_grey_font: rgb(158, 158, 161);
$color_slider: #ececec;
$color_footer: #363636;
$color_red: rgb(238, 90, 63);